footer{
    background-color: $colorFooter;
    width: 100%;
    height: 120px;
    justify-content: center;
    display: flex;
    .logoRedes{
        img{
            width: 110px;
            padding: 40px;
        }
    }
}