



@media(max-width:400px){
    .logo img{
        width: 90px;
        padding: 7px;
        margin-left: 1px;
        margin-top: 5px;
    }
    .navBar{
        gap: 2px;
        justify-content: center;
        margin-left: 2px;
            li{ 
                padding: 2px;
                a{
                    text-decoration: none;
                    font-size: 12px;
                }
            }
    }
    .titulo{
        font-size: 10px;
        text-align: center;
        letter-spacing: 5px;
    }
    .fotoYText{
        display: grid;
            .fotoPerfil{
                display: flex;
                    background-position: center;
                    margin: auto;
                    margin-left: 6%;
                    margin-right: 8%;
                }
            }
            .textPerfil{
                width: 100%;
                margin: auto;
                margin-right: 10%;
                background-position: center;
                text-align: none;
                padding: 1% 1% 1% 1%;
                font-size: 18px;
                h2{
                    margin-left: 1px;
                    
                }
            }
    .bannerPlanes{
        height: 290px;
    }
    .planes{
        display: grid;
        justify-content: center;
        height: 1500px;
            .plan1{
                max-width: 100%;
                img{
                    margin-bottom: 50px;
                }
                h2{
                    margin: auto;
                }
                p{
                    margin: auto;
                    margin-left: 10%;
                    margin-right: 10%;
                }
            }
            .plan2{
                max-width: 100%;
                img{
                    margin-bottom: 50px;
                }
                h2{
                    margin: auto;
                }
                p{
                    margin: auto;
                    margin-left: 15%;
                    margin-right: 15%;
                }
            }
            .plan3{
                max-width: 100%;
                h2{
                    margin: auto;
                }
                p{
                    font-size: 10px;
                    margin: auto;
                    margin-left: 1%;
                    margin-right: 2%;
                }
            }
    }
    .recetas{
        display: grid;
        height: 1000px;
        .dulce{
            max-width: 100%;
        }
        .salada{
            max-width: 100%;
        }
    }
    .formulario{
        display: grid;
        height: 700px;
        .form{
            max-width: 100%;
            width: 100%;
            padding: 0px 0px 0px 0px;
            margin-left: 40px;
            
                input{
                    width: 80%;
                    margin-bottom: 2%;
                }
                textarea{
                    width: 80%;
                }
        }
        .contacto{
            max-width: 100%;
            h2{
                font-size: 15px;
                background-position: none;
                text-align: none;
                //padding: 50px 25px;
                margin-bottom: 5%;
            }
            p{
                font-size: 12px;
            }
            h3{
                font-size: 15px;
            }
            .parrafo{
                margin-bottom: 5%;
            }
        }
    }
}